/*Style for big Inputfield*/
.inputFieldBig {
    border-radius: 10px;
    width: 14em;
    height: fit-content;
    padding: 10px;
    font-size: 12pt;
    margin: 5px;
}

/*Style for big Inputfield when it is marked as invalid*/
.invalidInputFieldBig {
    border-radius: 10px;
    width: 14em;
    height: fit-content;
    padding: 10px;
    font-size: 12pt;
    margin: 5px;
    border-color: red;
}

/*Style for small Inputfield*/
.inputFieldSmall {
    border-radius: 10px;
    width: 8em;
    height: fit-content;
    padding: 10px;
    font-size: 12pt;
    margin: 5px;
}

/*Style for h3*/
h3 {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*General Button Style*/
.Button {
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    font-size: 13pt;
    background-color: lightgray;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

/*Style for Container for genderHolder*/
.gendersHolder {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: fit-content;
    margin: auto;
}

/*Style for Container for Genders*/
.genderHolder {
    display: flex;
    flex-direction: column;
}

/*Style of infotext for invalid input*/
.invalidInputText {
    color: red;
}

/*Passwortinfotext style*/
.passwordInfo {
    font-size: 8pt;
    width: 20em;
    margin: auto;
}

/*The Div containing the Footer*/
.footerDiv {
    margin-top: 60px;
}

/*Spinner Style*/
.spinner {
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    size: 100px;
}

/*Container for Spinner Style*/
.spinnerContainer {
    background-color: lightgray;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
    align-self: center;
    padding: 50px;
}

/*Style for Text for Spinner*/
.spinnerText {
    margin: 10px;
}

/*Style for BackButton*/
.backButtonDiv {
    position: absolute; /* Ermöglicht die Positionierung relativ zum Container */
    margin-left: 1rem; /* Links ausgerichtet */
}
