body {
  text-align: center;  
}

.overviewContainer {
    width: fit-content;
    margin: 0 auto;
}

.profileBtnOverview {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: absolute;
    right: 0;
}

.overviewTitle {
    margin-bottom: 50px
}