*{
    text-align: center;
}
.inputFields {
    border-radius: 20px;
    width: 14em;
    height: 6em;
    margin-bottom: 2em;
}


.back{
    float: left;
    margin-left: 1rem;
}
.title{
    margin-right: 3rem;
}
.editButton{
    margin-top: 0.15rem;
    float: right;
}
*{
    text-align: center;
}

.inputFields {
    border-radius: 20px;
    width: 14em;
    height: 3em;
    margin-bottom: 2em;
}
/* CSS */
.buttons {
    align-items: center;
    appearance: none;
    background-color: #dc3636;
    /*background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);*/
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    width: 12em;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin-top: 1em;
    margin-bottom: 5em;
}

.buttons:active,
.buttons:focus {
    outline: none;
}

.buttons:hover {
    background-position: -20px -20px;
}

.button-21:focus:not(:active) {
    box-shadow: #808080;
}
.passwordInput{
    margin-bottom: 4em;
}
.emailTitle{
    margin-top: 2.5em;
}

.invisible {

    background: transparent;
    border: none !important;
    font-size:0;
}

.invisibleDiv {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}


