.recipeButton {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    margin-left: 8px;
    margin-bottom: 5px;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 10px;
    font-weight: 500;
    height: 3rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 2.8rem !important;
}

.recipeButton:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.calendarWidgetOverview {
    float: right;
    width: auto;
    margin-bottom: 10px;
}

.noRecipe {
    background-image: linear-gradient(92.88deg, #83868d 9.16%, #9f9da8 43.89%, #b3b1b7 64.72%);
    color: black;
}

.root {
    width: fit-content;
}

.icon {
    border: 1px solid #ADD8E6;
    padding: 5px;
    color: #0000FF;
}

.dateIcon {
    display: inline-block;
    border: 1px solid #ADD8E6;
    padding: 5px;
    color: #0000FF
}

.view {
    margin-left: 8px;
    width: 2.8rem;
}

.week {
    color: #0000FF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

.day {
    color: #0000c9;
    font-size: 30px;
}

.main {
    background: white;
}
