.recipe-title {
    font-weight: 600;
    margin-top: 2.5rem;
}

#recipe-title {
    font-weight: 700;
    margin-top: 4rem;
}

#recipe-number-of-persons {
    display: block;
    margin-top: 2.5rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}

#recipe-number-of-persons-value {
    width: 3rem;
    /*padding: 0.5rem;*/
    border: 2px solid #454d54; /* Blaue Umrandung */
    border-radius: 0.5rem; /* Abgerundete Ecken */
    font-size: 1rem; /* Schriftgröße */
    text-align: center; /* Textzentrierung */
    transition: all 0.3s ease; /* Übergangseffekt */
}

#recipe-number-of-persons-value:focus {
    border-color: #1a2021; /* Dunklere blaue Umrandung beim Fokussieren */
    box-shadow: 0 0 5px rgba(30, 34, 38, 0.5); /* Blaue Schattierung */
    outline: none; /* Keine Standard-Umrandung */
}

#recipe-number-of-persons-value:hover {
    background-color: #f0f8ff; /* Hellblauer Hintergrund beim Hovern */
}


#recipe-ingredients-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#recipe-preparation {
    margin-left: 2rem;
    margin-right: 2rem;
}

.backButtonDiv {
    position: absolute;
    margin-left: 1rem;
}
